@model MemberViewModel

@{
    if (Model.FormEditMode != FormEditModeEnum.Add)
    {
        <input type="hidden" asp-for="@Model.PersonNo" />
        <input type="hidden" asp-for="@Model.MemberNo" />
    }
}



<div class="inner bg-blue-lighter mb-4">
    <h4>
    </h4>
    <div class="flex-box">
        <div class="items cols-4">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.MemberId"></label>
                    <input type="text" asp-for="@Model.MemberId"
                           readonly="@Model.IsReadonly"
                           class="form-control" />
                    <span asp-validation-for="@Model.MemberId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="items cols-4">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.MemberName"></label>
                    <input type="text" asp-for="@Model.MemberName"
                           readonly="@Model.IsReadonly"
                           class="form-control" />
                    <span asp-validation-for="@Model.MemberName" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class="items cols-6">
            <div class="form-group">
                <label asp-for="@Model.ProductPriceNo"></label>
                <select asp-for="@Model.ProductPriceNo"
                        asp-items="@((List<SelectListItem>)ViewData[AppSystem.VD_Product_Price_Definition_DisplayName_SLI])"
                        disabled="@Model.HtmlAttrDisabled"
                        class="form-control">
                </select>
                <span asp-validation-for="@Model.ProductPriceNo" class="text-danger"></span>
            </div>
        </div>



        <div class="items cols-6">
            <div class="form-group">
                <label asp-for="@Model.Birthday_MonthDay"></label>
                <input type="text" asp-for="@Model.Birthday_MonthDay"
                       readonly="@Model.IsReadonly"
                       class="form-control date-picker-mmdd" />
                <span asp-validation-for="@Model.Birthday_MonthDay" class="text-danger"></span>
            </div>
        </div>


        <div class="items cols-1">
            <div class="form-group">
                <label asp-for="@Model.Remark"></label>
                <input type="text" asp-for="@Model.Remark"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.Remark" class="text-danger"></span>
            </div>
        </div>





    </div>
</div>


















<div class="container-fluid bg-light p-4 mb-4 rounded">
    <div id="@Model.Person.HtmlDv_PCP_Container" class="flex-box">

        @{
            for (int i = 0; i < Model.Person.PersonContactPhones.Count; i++)
            {
                <div id="@(Model.Person.HtmlDv_PCP_ChildRow_PrefixName + i.ToString())" class="row">
                    <div class="input-group mb-3">
                        <input type="hidden" asp-for="@Model.Person.PersonContactPhones[i].PersonNo" />
                        <input type="hidden" asp-for="@Model.Person.PersonContactPhones[i].ItemNo" />
                        <span>電話</span>
                        <span>@(i + 1)</span>
                        <select id="@($"sel{Model.Person.HtmlDv_PCP_ChildRow_PrefixName}{i.ToString()}")"
                                class="cssPtContactPhoneType"
                                asp-for="@Model.Person.PersonContactPhones[i].ContactPhoneType"
                                asp-items="Html.GetEnumSelectList<ContactPhoneTypeEnum>()"></select>
                        <input type="text" asp-for="@Model.Person.PersonContactPhones[i].PhoneNumber"
                               id="@("txt" + Model.Person.HtmlDv_PCP_ChildRow_PrefixName + i.ToString())"
                               autofocus
                               readonly="@Model.IsReadonly"
                               class="form-control cssPtPhoneNumber" />
                        <span asp-validation-for="@Model.Person.PersonContactPhones[i].PhoneNumber" class="text-danger"></span>
                        @if (Model.FormEditMode == FormEditModeEnum.Add || Model.FormEditMode == FormEditModeEnum.Edit)
                        {
                            <partial name="~/Pages/Shared/Toolbars/_ChildEntitiesOperationToolbar.cshtml" model="@i" />
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>












<div class="container-fluid bg-light p-4 mb-4 rounded">
    <div id="@Model.Person.HtmlDv_PCE_Container" class="flex-box">

        @{
            for (int i = 0; i < Model.Person.PersonContactEmails.Count; i++)
            {
                <div id="@(Model.Person.HtmlDv_PCE_ChildRow_PrefixName + i.ToString())" class="row">
                    <div class="input-group mb-3">
                        <input type="hidden" asp-for="@Model.Person.PersonContactEmails[i].PersonNo" />
                        <input type="hidden" asp-for="@Model.Person.PersonContactEmails[i].ItemNo" />
                        <span>電話</span>
                        <span>@(i + 1)</span>
                      
                        <input type="text" asp-for="@Model.Person.PersonContactEmails[i].EmailAddress"
                               id="@("txt" + Model.Person.HtmlDv_PCE_ChildRow_PrefixName + i.ToString())"
                               autofocus
                               readonly="@Model.IsReadonly"
                               class="form-control " />
                        <span asp-validation-for="@Model.Person.PersonContactEmails[i].EmailAddress" class="text-danger"></span>
                       
                    </div>
                </div>
            }
        }
    </div>
</div>







<div class="container-fluid bg-light p-4 mb-4 rounded">
    <div id="@Model.Person.HtmlDv_PCA_Container" class="flex-box">

        @{
            for (int i = 0; i < Model.Person.PersonContactAddresses.Count; i++)
            {
                <div id="@(Model.Person.HtmlDv_PCA_ChildRow_PrefixName + i.ToString())" class="row">
                    <div class="input-group mb-3">
                        <input type="hidden" asp-for="@Model.Person.PersonContactAddresses[i].PersonNo" />
                        <input type="hidden" asp-for="@Model.Person.PersonContactAddresses[i].ItemNo" />

                        <span>@(i + 1)</span>

                        <input type="text" asp-for="@Model.Person.PersonContactAddresses[i].Address"
                               id="@("txt" + Model.Person.HtmlDv_PCA_ChildRow_PrefixName + i.ToString())"
                               autofocus
                               readonly="@Model.IsReadonly"
                               class="form-control cssPtAddress" />
                        <span asp-validation-for="@Model.Person.PersonContactAddresses[i].Address" class="text-danger"></span>

                    </div>
                </div>
            }
        }
    </div>
</div>

