@using SBRPData.Models
@model CompanyViewModel

<div class="inner bg-blue-lighter mb-4">
    <h4>
        公司基本資料
    </h4>
   
    <div class="flex-box">
        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="TaxId"></label>
                <input type="text" asp-for="TaxId"
                       readonly="@Model.IsReadonly"
                       required class="form-control" />
                <span asp-validation-for="TaxId" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="CompanyName"></label>
                <input id="txtPtCompanyName" type="text" asp-for="CompanyName"
                       readonly="@Model.IsReadonly"
                       required class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>


        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="CompanyNameAbbr"></label>
                <input id="txtPtCompanyNameAbbr" type="text" asp-for="CompanyNameAbbr"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="CompanyNameAbbr" class="text-danger"></span>
            </div>
        </div>


        <div class="w-100"></div>
        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="CompanyAddress"></label>
                <input type="text" asp-for="CompanyAddress"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="PostalAddress"></label>
                <input type="text" asp-for="PostalAddress"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="PostalAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="CompanyPhone"></label>
                <input type="text" asp-for="CompanyPhone"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="CompanyPhone" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="CompanyWeb"></label>
                <input type="url" asp-for="CompanyWeb"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="CompanyWeb" class="text-danger"></span>
            </div>
        </div>


        <div class="items cols-12">
            <div class="form-group">
                <label asp-for="Remark"></label>
                <input type="text" asp-for="Remark" 
                       readonly="@Model.IsReadonly"
                       multiple="multiple" class="form-control" />
            </div>
        </div>
    </div>
</div>






<div class="inner bg-blue-lighter mb-4">
    <h4>
        人員資料
    </h4>

    <div class="flex-box">
        <div class="items cols-12">
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.ContactItemNo)
                        </th>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.ContactName)
                        </th>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.Title)
                        </th>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.ContactPhone)
                        </th>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.MobilePhone)
                        </th>
                        <th>
                            @CompanyContactPerson.GetDisplayName(p => p.EmailAddress)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        var itemNo = default(int);
                        foreach (var item in Model.CompanyContactPersons ?? Enumerable.Empty<CompanyContactPersonViewModel>())
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="@Model.CompanyContactPersons[itemNo].ContactItemNo" readonly="@Model.IsReadonly" />
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.CompanyContactPersons[itemNo].ContactName" readonly="@Model.IsReadonly" class="form-control" />
                                </td>
                                <td>
                                    <input type="text" asp-for="@Model.CompanyContactPersons[itemNo].Title" readonly="@Model.IsReadonly" class="form-control" />
                                </td>
                                <td>
                                    <input type="tel" asp-for="@Model.CompanyContactPersons[itemNo].ContactPhone" readonly="@Model.IsReadonly" class="form-control" />
                                </td>
                                <td>
                                    <input type="tel" asp-for="@Model.CompanyContactPersons[itemNo].MobilePhone" readonly="@Model.IsReadonly" class="form-control" />
                                </td>
                                <td>
                                    <input type="email" asp-for="@Model.CompanyContactPersons[itemNo].EmailAddress" readonly="@Model.IsReadonly" class="form-control" />
                                </td>
                            </tr>
                            itemNo++;
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>