@model MenuitemViewModel


@if (Model.HasChildNode)
{
    <a class="sidebar-subheader" href="#">
        <i class="fa @Model.DataFeather">
        </i>
        @Model.NodeName
    </a>
}
else
{

    if (string.IsNullOrWhiteSpace(Model.AspController))
    {
        <a asp-page="@Model.AspPage" onclick="jsPageLoading_Show();">
            <i class="fa @Model.DataFeather">
            </i>
            @Model.NodeName
        </a>
    }
    else
    {
        <a asp-controller="@Model.AspController" asp-action="@Model.AspAction" 
           asp-route-no="@Model.AspRouteNo" >
            <i class="fa @Model.DataFeather">
            </i>
            @Model.NodeName
        </a>
    }

}
