@model List<SaleOrderDetailViewModel>



<div>
    <input type="hidden" id="hndPtItemNo_Max" value="@(Model.Max(c => (short?)c.ItemNo)??default(short))" />
    <div class="table-responsive">
        <table id="tbPtList" class="table table-bordered table-hover">
            <thead class="dt-table-thead">
                <tr>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.ItemNo)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.ProductNo)
                    </th>
                    <th>
                        @Product.GetDisplayName(p => p.ProductId)
                    </th>
                    <th>
                        @Product.GetDisplayName(p => p.ProductName)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.UnitPrice)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.DiscountPercentage)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.ActualSellingPrice)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.Quantity)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.SubAmount)
                    </th>
                    <th>
                        @SaleOrderDetail.GetDisplayName(p => p.Remark)
                    </th>
                    <th>
                        @AppSystem.UI_TB_CH_CF_Delete
                    </th>
                    <th>
                        @AppSystem.UI_TB_CH_CF_Edit
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot class="dt-table-tfoot">
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    
</div>