@model StockTransferOrderViewModel


<input type="hidden" asp-for="@Model.OrderNo" />
<input type="hidden" asp-for="@Model.LogNo" />
<input type="hidden" asp-for="@Model.FromStockNo" />


<div class="inner bg-blue-lighter mb-4 dv-order-entity">
    <h4>
    </h4>
    <div class="flex-box">
        <div class="items cols-2">
            <div class="form-group">
                <label asp-for="@Model.ToStockNo"></label>
                <select asp-for="@Model.ToStockNo" asp-items="@((List<SelectListItem>)ViewData[AppSystem.VD_Stock_SLI])"
                        disabled="@Model.HtmlAttrDisabledForIdField"
                        class="form-control">
                </select>
                <span asp-validation-for="@Model.ToStockNo" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>






<div class="inner bg-blue-lighter mb-4 dv-order-entity">
    <h4>
    </h4>
    <div class="flex-box">
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.OrderId"></label>
                <input type="text" asp-for="@Model.OrderId"
                        readonly="@Model.IsReadonlyForIdField"
                        class="form-control" />
            </div>
        </div>
        <div class="items cols-6">
            <div class="form-group">
                <label asp-for="@Model.OrderDate"></label>
                <input type="date" asp-for="@Model.OrderDate"
                        readonly="@Model.IsReadonlyForIdField"
                        class="form-control" />
                <span asp-validation-for="@Model.OrderDate" class="text-danger"></span>
            </div>
        </div>

        


        <div class="w-100"></div>
        <div class="items cols-1">
            <div class="form-group">
                <label asp-for="@Model.Remark"></label>
                <input type="text" asp-for="@Model.Remark" multiple
                        readonly="@Model.IsReadonly"
                        class="form-control" />
            </div>
        </div>
    </div>
</div>





