@page
@model SBRPWebPsi.Pages.Orders.Sales.ListModel
@{
}


<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>



<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- start card -->
                <div class="card page-card">

                    <div class="card-header">
                        <div class="form-function bg-list-filter">
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                           
                            <div class="items">                               
                                <select id="selSupplier" asp-for="@Model.PG_Filter.SupplierNo" asp-items="@((List<SelectListItem>)ViewData[AppSystem.VD_Supplier_SLI])" 
                                        class="form-control">
                                        <option value="">（選擇供應商）</option>
                                </select>
                                
                            </div>
                            <div class="items">
                                <label for="txtSupplierName">
                                    @Store.GetDisplayName(c => c.StoreName)
                                </label>
                            </div>
                            <div class="items">
                                <button type="submit" asp-page="List" asp-page-handler="Refresh"
                                        onclick="jsPageLoading_Show();"
                                        accesskey="R" title="（快速鍵：Alt + R）"
                                        class="btn btn-secondary btn-list-control btn-refresh"
                                        data-toggle="tooltip">
                                    @WebBaseUI.Form_Btn_Refresh
                                </button>
                            </div>
                        </div>



                        <!--附帶或次要功能連結或按鈕-->
                        <div class="form-function bg-list-control">
                            <div class="items"></div>
                            <div class="items">
                                <a asp-page="/Shared/BasicInfo/SupplierSelectorHelper"
                                   asp-route-_sourcePageId="@Model.PG_PageHeaderInfo.PageId"
                                   asp-route-_target="/Orders/InboundStocks/EntityProcess"
                                   asp-route-_handle="AddBySupplier" 
                                   class="btn btn-secondary btn-list-control" 
                                   data-toggle="title" title="新增入庫單，從「選擇供應商」開始作業（快速鍵：Alt + A）"
                                   accesskey="A">
                                    <i class="fa fa-plus"></i>
                                    @*@WebBaseUI.Form_Btn_AddWithSupplierSelector*@
                                    新增入庫單
                                </a>

                            </div>
                            <div class="items">
                                <div class="from-group">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="tbList" class="table table-bordered table-striped table-hover">
                                <thead class="k-table-thead">
                                    <tr>
                                        
                                        <th class="dt-head-id">
                                            @InboundStockOrder.GetDisplayName(c => c.OrderId)
                                        </th>
                                        <th class="dt-head-date">
                                            @InboundStockOrder.GetDisplayName(c => c.OrderDate)
                                        </th>
                                        <th class="dt-head-name">
                                            @InboundStockOrder.GetDisplayName(c => c.SupplierNo)
                                        </th>
                                        <th class="dt-head-name">
                                            @InboundStockOrder.GetDisplayName(c => c.StockNo)
                                        </th>
                                        <th class="dt-head-number">
                                            @InboundStockOrder.GetDisplayName(c => c.TotalAmount)
                                        </th>
                                        <th class="dt-head-remove">
                                            @WebBaseUI.Form_Btn_Remove
                                        </th>
                                        <th class="dt-head-edit">
                                            @WebBaseUI.Form_Btn_Edit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in Model.PG_List ?? Enumerable.Empty<InboundStockOrderViewModel>())
                                        {
                                            <tr>
                                                                            
                                                <td>
                                                    <a asp-page="EntityProcess" asp-route-_no="@item.OrderNo"
                                                        onclick="jsPageLoading_Show();" title="">
                                                        @item.OrderId
                                                    </a>
                                                </td>
                                                <td>
                                                    @item.OrderDateShortString
                                                </td>
                                                <td>
                                                    @item.SupplierNameAbbr
                                                </td>
                                                <td>
                                                    @item.StockNameAbbr
                                                </td>
                                                <td>
                                                    @item.TotalQuantityString
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="Remove" asp-route-_no="@item.OrderNo"
                                                        onclick="jsPageLoading_Show();" title="@item.OrderId">
                                                        <i class="bi-trash"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="Edit" asp-route-_no="@item.OrderNo"
                                                        onclick="jsPageLoading_Show();" title="@item.OrderId">
                                                        <i class="bi-pencil-square"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>



</form>





@section Scripts {
    <script>
        const jsIsAllowEditing = true;

        const dtCI_Id = 0;
        const dtCI_OrderDate = 1;
        const dtCI_Supplier = 2;
        const dtCI_Stock = 3;
        const dtCI_Remove = 5;
        const dtCI_Edit = 6;

        let jsSupplierNo_Default = @($"{Model.PG_Filter?.SupplierNo?.ToString()??"null"}");
    </script>
    <script src="~/js/pages/orders/inbound-stock.list.js"></script>

}