@page "{_no?}"
@model SBRPWebPsi.Pages.Products.EntityProcessModel
@{
}




<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>


<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <div class="card">
                    <div class="card-body">
                        <div class="form-box">

                            <div asp-validation-summary="ModelOnly" class="dv-ValidationSummary">
                                <span></span>
                            </div>

                            @{
                                if (Model.PG_Info != null)
                                {
                                    <partial name="~/Pages/Shared/Products/_ProductEntityPartial.cshtml" model="Model.PG_Info" />
                                }
                                else
                                {
                                    <label>Form_MainInfo_Label_NoData</label>
                                }
                            }


                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-function bg-red-lighter">
                            <div class="items">
                                <div class="form-group">
                                    <button type="button" onclick="history.back(-1);" class="btn btn-dark">
                                        <i class="fa fa-arrow-left"></i>
                                        @WebBaseUI.Form_Btn_Back
                                    </button>
                                </div>
                            </div>

                            <div class="items">
                                <div class="from-group">

                                </div>
                            </div>

                            <!-- Start User operation action -->
                            @{
                                if (Model.PG_Info?.FormEditMode == FormEditModeEnum.Read)
                                {
                                    <div class="items">
                                        <div class="form-group">
                                            <a asp-page="List" class="btn btn-dark">
                                                @WebBaseUI.Form_Btn_BackToList
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="items">
                                        <div class="form-group">                                            
                                            <button id="btnRemove" class="btn btn-primary btn-add"
                                                    onclick="fnSwalBtnConfirmDelete_OnClick('btnDelete');" type="button">
                                                @WebBaseUI.Form_Btn_Remove
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            <button asp-page="EntityProcess" asp-page-handler="Delete"
                                                    disabled id="btnDelete" type="submit" class="d-none">
                                            </button>
                                        </div>
                                    </div>
                                }


                                if (Model.PG_Info?.FormEditMode == FormEditModeEnum.Add)
                                {
                                    <div class="items">
                                        <div class="form-group">
                                            <button id="btnAdd" class="btn btn-primary btn-add"
                                                    onclick="fnSwalBtnConfirmInsert_OnClick('btnInsert');" type="button">
                                                @WebBaseUI.Form_Btn_Insert
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button asp-page="EntityProcess" asp-page-handler="Insert"
                                                    disabled id="btnInsert" type="submit" class="d-none">
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                            <!-- End User operation action -->

                        </div>
                    </div>
                    <!-- End card-footer -->
                </div>
            </div>
        </div>
    </div>



</form>



@section Scripts {
    @*<style type="text/css">
        select {
            font-family:MingLiU !important;
            font-size: 12px;
            width: 300px;
            padding: 5px;
            font-size: 16px;
        }

        option li {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-family: MingLiU !important; /* Use monospace font for better alignment */
        }
    </style>*@
    <partial name="_BasePageUIScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pages/products/product.entity.process.js"></script>

    <script>
        const jsApiToken = '@Model.PG_API_Token';
        const jsApiUrlRoot = '@Model.PG_API_UrlRoot';
        const jsIsAllowRemoving = true;
        const jsIsAllowEditing = true;
        const jsAryProductSupplier = @(@Html.Raw(Json.Serialize(Model.PG_Info.ProductSuppliers.Select(c => new {c.ItemNo, c.SupplierNo}))));

        let jsApiUrlPGCItemSIL = jsApiUrlRoot + '@ApiUrlPath.Products_GeneralCategoryItem_SIL';
        let jsApiUrlSupplierSIL = jsApiUrlRoot + '@ApiUrlPath.BasicInfo_Supplier_SIL';

        
    </script>

}