@page
@model SBRPWebPsi.Pages.Products.ListModel
@{
}


<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>



<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- start card -->
                <div class="card page-card">

                    <div class="card-header">
                        <div class="form-function bg-red-lighter">
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">
                                <label for="txtSupplierId">
                                    @Store.GetDisplayName(c => c.StoreId)
                                </label>
                                
                            </div>
                            <div class="items">
                                <label for="txtSupplierName">
                                    @Store.GetDisplayName(c => c.StoreName)
                                </label>
                                
                            </div>
                        </div>



                        <!--附帶或次要功能連結或按鈕-->
                        <div class="form-function bg-shell">
                            <div class="items"></div>
                            <div class="items">
                                <a asp-page="EntityProcess" asp-page-handler="Add"
                                   accesskey="A" title="（快速鍵：Alt + A）"
                                   onclick="jsPageLoading_Show();" class="btn btn-secondary btn-add">
                                    @WebBaseUI.Form_Btn_Add
                                </a>

                            </div>
                            <div class="items">
                                <div class="from-group">
                                    <button type="submit" asp-page="List" asp-page-handler="Refresh"
                                            onclick="jsPageLoading_Show();"  
                                            accesskey="R" title="（快速鍵：Alt + R）"
                                            class="btn btn-secondary btn-refresh"
                                            data-toggle="tooltip">
                                        @WebBaseUI.Form_Btn_Refresh
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="tbList" class="table table-bordered table-striped table-hover">
                                <thead class="k-table-thead">
                                    <tr>
                                        @*<th class="dt-head-no">
                                            @Product.GetDisplayName(c => c.ProductNo)
                                        </th>*@
                                        <th class="dt-head-id">
                                            @Product.GetDisplayName(c => c.ProductId)
                                        </th>
                                        <th class="dt-head-name">
                                            @Product.GetDisplayName(c => c.ProductName)
                                        </th>
                                        <th class="dt-head-remove">
                                            @WebBaseUI.Form_Btn_Remove
                                        </th>
                                        <th class="dt-head-edit">
                                            @WebBaseUI.Form_Btn_Edit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in Model.PG_List ?? Enumerable.Empty<ProductViewModel>())
                                        {
                                            <tr>
                                                @*<td>
                                                </td>*@
                                                <td>
                                                    <a asp-page="EntityProcess" asp-route-_no="@item.ProductNo"
                                                       onclick="jsPageLoading_Show();" title="@item.ProductName">
                                                        @item.ProductId
                                                    </a>
                                                </td>
                                                <td>
                                                    @item.ProductName
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="Remove" asp-route-_no="@item.ProductNo"
                                                       onclick="jsPageLoading_Show();" title="@item.ProductId">
                                                        <i class="bi-trash"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="Edit" asp-route-_no="@item.ProductNo"
                                                       onclick="jsPageLoading_Show();" title="@item.ProductId">
                                                        <i class="bi-pencil-square"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>



</form>





@section Scripts {
    <script>
        const jsIsAllowEditing = true;
    </script>
    <script src="~/js/pages/products/product.list.js"></script>

}