@model (PageHeaderEntity PG_PageHeaderInfo, List<ProductGeneralCategoryItemViewModel> PG_List, ProductGeneralCategoryDefinitionViewModel PG_PGCD, EdFieldOptionsList<ProductGeneralCategoryItem> PG_EdFieldOptionsList)
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}





<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>



<form id="form1" asp-controller="ProductGeneralCategoryItem" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- start card -->
                <div class="card pt page-card">

                    <div class="card-header">
                        <!--附帶或次要功能連結或按鈕-->
                        <div class="form-function bg-shell">
                            <div class="items">
                                <button id="btnEdAddDetail" type="button"
                                        title="（快速鍵：Alt + A）"
                                        class="btn btn-shell btn-adddetail">
                                    @WebBaseUI.Form_Btn_AddDetailEntry
                                </button>
                            </div>
                            <div class="items">
                                <a asp-action="EntityProcess" asp-route-_pGCItemNo="@Model.PG_PGCD.PGCategoryNo"
                                   asp-route-_formEditModeEnum="@FormEditModeEnum.Add"
                                   accesskey="A"
                                   onclick="jsPageLoading_Show();" class="btn btn-shell btn-addd">
                                    @WebBaseUI.Form_Btn_Add
                                </a>

                            </div>
                            <div class="items">
                                <button id="btnEdRefresh" type="button"
                                        title="（快速鍵：Alt + R）"
                                        class="btn btn-shell btn-refresh">
                                    重新整理
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="tbList" class="table table-bordered table-hover table-editor">
                                <thead class="ed-table-thead">
                                    <tr>
                                        <th class="dt-head-no">
                                            @ProductGeneralCategoryItem.GetDisplayName(c => c.PGCItemNo)
                                        </th>
                                        <th class="dt-head-no">
                                            @ProductGeneralCategoryItem.GetDisplayName(c => c.PGCategoryNo)
                                        </th>
                                        <th class="dt-head-id">
                                            @ProductGeneralCategoryItem.GetDisplayName(c => c.PGCItemId)
                                        </th>
                                        <th class="dt-head-name">
                                            @ProductGeneralCategoryItem.GetDisplayName(c => c.PGCItemName)
                                        </th>
                                        @*<th class="dt-head-name">
                                                @ProductGeneralCategoryItem.GetDisplayName(c => c.PGCItemOrderNo)
                                            </th>*@
                                        <th class="dt-head-remove">
                                            @WebBaseUI.Form_Btn_Remove
                                        </th>
                                        <th class="dt-head-edit">
                                            @WebBaseUI.Form_Btn_Edit
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>



</form>





@section Scripts {
    <script>
        const jsApiToken = '@ViewData[AppSystem.VD_API_Token]?.ToString()';
        const jsApiUrlRoot = '@ViewData[AppSystem.VD_API_UrlRoot]?.ToString()';        
        const jsPGCategoryNo = @Model.PG_PGCD.PGCategoryNo;        
        const jsIsAllowRemoving = true;
        const jsIsAllowEditing = true;

        var jsApiUrlDT = jsApiUrlRoot + '@ApiUrlPath.Products_GeneralCategoryItem_DataTable';
        var jsApiUrlED = jsApiUrlRoot + '@ApiUrlPath.Products_GeneralCategoryItem_Editor';
        let editorList; let dtList;

        var edFieldOptionsData = @Html.Raw(Json.Serialize(Model.PG_EdFieldOptionsList.FieldsList));
        var edFieldOptions = edFieldOptionsData.map(item => new JS_EdFieldModel(item.index, item.name, item.label, item.attr, item.def, item.options, item.required, item.type));
      
    </script>
    <script src="~/js/model/product-general-category-item.js"></script>
    <script src="~/js/pages/products/general-category-item.listedit.js"></script>
}