@page
@model SBRPWebPsi.Pages.BasicInfo.Suppliers.ListModel
@{
}


<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>



<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- start card -->
                <div class="card page-card">

                    <div class="card-header">
                        <div class="form-function bg-list-filter">
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">&nbsp;</div>
                            <div class="items">
                                <label for="txtSupplierId">
                                    @Supplier.GetDisplayName(c => c.SupplierId)
                                </label>
                                <input type="text" id="txtSupplierId" asp-for="@Model.PG_Filter.SupplierId"
                                       data-val="false" class="form-control" />
                            </div>
                            <div class="items">
                                <label for="txtSupplierName">
                                    @Supplier.GetDisplayName(c => c.SupplierName)
                                </label>
                                <input type="text" id="txtSupplierName" asp-for="@Model.PG_Filter.SupplierName"
                                       data-val="false" class="form-control" />
                            </div>
                        </div>



                        <!--附帶或次要功能連結或按鈕-->
                        <div class="form-function bg-list-control">
                            <div class="items"></div>
                            <div class="items">
                                <a asp-page="EntityProcess" asp-page-handler="Add"
                                   onclick="jsPageLoading_Show();" class="btn btn-list-control btn-secondary btn-adddetail">
                                    @WebBaseUI.Form_Btn_AddDetailEntry
                                </a>

                            </div>
                            <div class="items">
                                <div class="from-group">
                                    <button type="submit" asp-page="List" asp-page-handler="Refresh"
                                            onclick="jsPageLoading_Show();" accesskey="R" class="btn btn-list-control btn-secondary btn-refresh"
                                            data-toggle="tooltip" title="（快速鍵：Alt + R）">
                                        @WebBaseUI.Form_Btn_Refresh
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="tbList" class="table table-bordered table-striped table-hover">
                                <thead class="k-table-thead">
                                    <tr>
                                        <th>
                                            序號
                                        </th>
                                        <th>
                                            統一編號
                                        </th>
                                        <th>
                                            客戶名稱
                                        </th>
                                        <th class="text-center">
                                            @WebBaseUI.Form_Btn_Edit
                                        </th>
                                        <th class="text-center">
                                            @WebBaseUI.Form_Btn_Remove
                                        </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in Model.PG_List ?? Enumerable.Empty<SupplierViewModel>())
                                        {
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-route-_no="@item.SupplierNo"
                                                       onclick="jsPageLoading_Show();" title="@item.SupplierName">
                                                        @item.SupplierId
                                                    </a>
                                                </td>
                                                <td>
                                                    @item.SupplierName
                                                </td>
                                               
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="Edit" asp-route-_no="@item.SupplierNo"
                                                       onclick="jsPageLoading_Show();" title="@item.SupplierId">
                                                        <i class="bi-pencil-square"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a asp-page="EntityProcess" asp-page-handler="SubmitToRemove" asp-route-_no="@item.SupplierNo"
                                                       onclick="jsPageLoading_Show();" title="@item.SupplierId">
                                                        <i class="bi-trash"></i>
                                                    </a>
                                                </td>
                                               
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <!-- end card -->
            </div>
        </div>
    </div>



</form>





@section Scripts {
    <script>
        const jsIsAllowEditing = true;
    </script>
    <script src="~/js/pages/basic-info/supplier.list.js"></script>
    <script src="~/js/datatables.search-input.js"></script>
}