@model ProductGeneralCategoryItemViewModel


<input type="hidden" asp-for="@Model.PGCItemNo" />
<input type="hidden" asp-for="@Model.PGCategoryNo" />


<div class="inner bg-blue-lighter mb-4">
    <h4>
    </h4>
    <div class="flex-box">
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.PGCItemId"></label>
                <input type="text" asp-for="@Model.PGCItemId"
                       autofocus
                       disabled="@Model.HtmlAttrDisabledForIdField"
                       readonly="@Model.IsReadonlyForIdField"
                       class="form-control form-input-id" />
                <span asp-validation-for="@Model.PGCItemId" class="text-danger"></span>
            </div>
        </div>


        <div class="w-100"></div>
        <div class="items cols-3">
            <div class="form-group">
                <label asp-for="@Model.PGCItemName"></label>
                <input type="text" asp-for="@Model.PGCItemName"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.PGCItemName" class="text-danger"></span>
            </div>
        </div>


    </div>
</div>





<div class="inner bg-blue-lighter mb-4">
    <h4>
    </h4>
    <div class="flex-box">
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.PGCItemColorHex"></label>
                <input type="text" asp-for="@Model.PGCItemColorHex"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.PGCItemColorHex" class="text-danger"></span>
            </div>
        </div>



        <div class="w-100"></div>
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.PGCItemNumericValue"></label>
                <div for="@Model.PGCItemNumericValue" class="tips show">
                    <em title="此名稱將作為功能表項目">
                        <i class="fa fa-info"></i>
                    </em>
                </div>
                <input type="number" asp-for="@Model.PGCItemNumericValue"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.PGCItemNumericValue" class="text-danger"></span>
            </div>
        </div>


        <div class="w-100"></div>
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.PGCItemImagePathFileName"></label>
                <div class="tips show">
                    <em title="此名稱將作為功能表項目">
                        <i class="fa fa-info"></i>
                    </em>
                </div>
                <input type="text" asp-for="@Model.PGCItemImagePathFileName"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.PGCItemImagePathFileName" class="text-danger"></span>
            </div>
        </div>




        <div class="items cols-1">
            <div class="form-group">
                <label asp-for="Remark"></label>
                <input type="text" asp-for="Remark"
                       readonly="@Model.IsReadonly"
                       multiple="multiple"
                       class="form-control form-input-remark" />
            </div>
        </div>

    </div>
</div>

