@page 
@model SBRPWebPsi.Pages.Products.IdStructureDefinitions.ListEntityProcessModel
@{
}



<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>


<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <div class="card">
                    <div class="card-body">
                        <div class="form-box">

                            <div asp-validation-summary="ModelOnly" class="validation-summary">
                                <span></span>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-form">
                                    <thead class="k-table-thead">
                                        <tr>
                                            <th>
                                                @ProductIdStructureDefinition.GetDisplayName(c => c.PGCOrderNo)
                                            </th>
                                            <th>
                                                @ProductGeneralCategoryDefinition.GetDisplayName(c => c.PGCategoryName)
                                            </th>
                                            <th>
                                                @ProductGeneralCategoryDefinition.GetDisplayName(c => c.ItemIdMinLength)
                                            </th>
                                            <th>
                                                @ProductGeneralCategoryDefinition.GetDisplayName(c => c.ItemIdMaxLength)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var index = default(int);
                                            foreach (var item in Model.PG_List ?? Enumerable.Empty<ProductIdStructureDefinitionViewModel>())
                                            {
                                                <tr>
                                                    <td class="table-light">
                                                                                                <div class="input">
                                                                                                    @item.PGCOrderNo.ToString()
                                                                                                </div>
                                                        
                                                        <input type="hidden" name="@($"PG_List[{index.ToString()}].PGCOrderNo")" value="@item.PGCOrderNo" />
                                                    </td>
                                                    <td>
                                                        <div class="input-txt-bx">
                                                            @item.PGCategoryName
                                                        </div>
                                                        
                                                        <input type="hidden" name="@($"PG_List[{index.ToString()}].PGCategoryNo")" value="@item.PGCategoryNo" />
                                                    </td>
                                                    <td>
                                                        @item.ItemIdMinLengthText
                                                    </td>
                                                    <td>
                                                        @item.ItemIdMaxLengthText
                                                    </td>
                                                </tr>
                                                index++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-function bg-red-lighter">
                            <div class="items">
                                <div class="form-group">
                                    <button type="button" onclick="history.back(-1);" class="btn btn-dark">
                                        <i class="fa fa-arrow-left"></i>
                                        @WebBaseUI.Form_Btn_Back
                                    </button>
                                </div>
                            </div>

                            <div class="items">
                                <div class="from-group">

                                </div>
                            </div>

                            <!-- Start User operation action -->
                            @{
                               
                                if (Model.PG_FormEditModeEnum == FormEditModeEnum.Add)
                                {
                                    <div class="items">
                                        <div class="form-group">
                                            <button id="btnAdd" class="btn btn-primary btn-add"
                                                    accesskey="A" title="（快速鍵：Alt + A）"
                                                    onclick="fnSwalBtnConfirmInsert_OnClick('btnInsert');" type="button">
                                                @WebBaseUI.Form_Btn_Insert
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button asp-page="ListEntityProcess" asp-page-handler="Insert"
                                                    disabled id="btnInsert" type="submit" class="d-none">
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                            <!-- End User operation action -->

                        </div>
                    </div>
                    <!-- End card-footer -->
                </div>
            </div>
        </div>
    </div>



</form>



@section Scripts {
    <script src="~/js/pages/products/id-structure-definition.list-entity.js"></script>
}