@model StoreViewModel


<input type="hidden" asp-for="@Model.StoreNo" />



<div class="inner bg-blue-lighter mb-4">
    <h4>
        門市資料
    </h4>
    <div class="flex-box">
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.StoreId"></label>
                <input type="text" asp-for="@Model.StoreId"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.StoreId" class="text-danger"></span>
            </div>
        </div>
        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.StoreName"></label>
                <input type="text" asp-for="@Model.StoreName"
                       id="txtPtStoreName"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.StoreName" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-4">
            <div class="form-group">
                <label asp-for="@Model.StoreNameAbbr"></label>
                <input type="text" asp-for="@Model.StoreNameAbbr"
                       id="txtPtStoreNameAbbr"
                       readonly="@Model.IsReadonly"
                       class="form-control" />
                <span asp-validation-for="@Model.StoreNameAbbr" class="text-danger"></span>
            </div>
        </div>

        <div class="items cols-12">
            <div class="form-group">
                <label asp-for="Remark"></label>
                <input type="text" asp-for="Remark"
                       readonly="@Model.IsReadonly"
                       multiple="multiple" class="form-control" />
            </div>
        </div>

    </div>
</div>







